body {
    font-size: 18px;
}

main {
    padding-bottom: 50px;
}

.nav-container {
    width: 100%;
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.status {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.ico {
    height: 1.5em;
    width: 1.5em;
}

.green {
    color: #00ba44;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.col-sm {
    text-align: center;
}

[id$="Chart"] {
    width: 100%;
}

#ampereChart, #voltChart {
    padding-top: 50px;
    height: 350px;
}

#tempChart {
    height: 150px;
}

#cellChart {
    height: 200px;
}

#chargeChart {
    height: 250px;
}

.col-sm > .row {
    margin-top: 40px;
    /*margin-bottom: 40px;*/
}

.btn {
    width: 200px;
}

#start, #stop, #cancel, #chargeBtn, #ok, #disable {
    display: none;
}

.col-title {
    margin-bottom: -50px;
    padding-left: 10%;
    text-align: left;
}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

a.orange, a.red {
    font-weight: bold;
    font-size: 1.5em;
    transition: all 0.1s linear;
}

a.orange:hover {
    color: #ff8c00;
}

a.red:hover {
    color: #cf001a;
}

.slider {
    background: linear-gradient(to right, #00ba44 0%, #00ba44 0%, #d3d3d3 0%, #d3d3d3 100%);
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00ba44;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00ba44;
    cursor: pointer;
}
