body {
    font-size: 18px;
}

.ico {
    height: 1.5em;
    width: 1.5em;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.col-sm {
    text-align: center;
}

[id$="Chart"] {
    width: 100%;
    height: 500px;
}

#chargeChart {
    height: 350px;
}

.col-sm > .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    width: 200px;
}

#stop {
    display: none;
}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

a.orange, a.red {
    font-weight: bold;
    font-size: 1.5em;
    transition: all 0.1s linear;
}

a.orange:hover {
    color: #ff8c00;
}

a.red:hover {
    color: #cf001a;
}
