[submodule "src/common/charger/littlesic"]
	path = src/common/charger/littlesic
	url = git@github.com:eagletrt/littlesic.git
[submodule "src/libcan"]
	path = src/libcan
	url = git@github.com:eagletrt/libcan-sw.git
