.sidebar {
    position: fixed;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.col-sm {
    text-align: center;
}

[id$="Chart"] {
    width: 100%;
    height: 500px;
}
