<div class="row">
    <div class="col-sm">
        BMS state: <b id="bmsState"></b>
    </div>
    <div class="col-sm">
        State: <b class="red" id="hcState">NOT CHARGING</b>
    </div>
    <div class="col-sm">
        Brusa state: <b id="brusaState"></b>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        <!-- empty column -->
    </div>
    <div class="col-sm">
        Elapsed time: <b id="timeText">00:00</b>
    </div>
    <div class="col-sm">
        <!-- empty column -->
    </div>
</div>

<script src="{{url_for('static', filename='js/status.js')}}"></script>
