[Unit]
Description=Backend service for handcart

[Service]
User=pi
WorkingDirectory=/home/pi/Desktop/handcart_sw/
ExecStart=python3.11 src/run.py
Restart=always
RestartSec=10
After=can0_startup.service

[Install]
WantedBy=multi-user.target