[Unit]
Description=Backend service for handcart

[Service]
User=pi
WorkingDirectory=/home/pi/Desktop/handcart_sw/
ExecStart=python3.11 src/run.py
Restart=no

[Install]
WantedBy=multi-user.target