{% block body %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" id="home" href="/">
                        <span data-feather="home" class="ico"></span> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="can" href="#">
                        <span data-feather="file-text" class="ico"></span> CAN details
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings" href="/settings">
                        <span data-feather="settings" class="ico"></span> Settings
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Charts</span>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="charts?chart=volt" id="sidevolt">
                        <span data-feather="file-text" class="ico"></span> Volt
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="charts?chart=charge" id="sidecharge">
                        <span data-feather="file-text" class="ico"></span> Charge
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="charts?chart=ampere" id="sideampere">
                        <span data-feather="file-text" class="ico"></span> Ampere
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="charts?chart=temp" id="sidetemp">
                        <span data-feather="file-text" class="ico"></span> Temperature
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="charts?chart=cell" id="sidecell">
                        <span data-feather="file-text" class="ico"></span> Cells
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="charts?chart=heat" id="sideheat">
                        <span data-feather="file-text" class="ico"></span> Cells' temperature
                    </a>
                </li>
            </ul>

            <script src="{{ url_for('static', filename='js/active.js') }}"></script>
            <!--<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Saved reports</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text" class="ico"></span> Current month
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text" class="ico"></span> Last quarter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text" class="ico"></span> Social engagement
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text" class="ico"></span> Year-end sale
                    </a>
                </li>
            </ul>-->
        </div>
    </nav>

{% endblock %}
