<!doctype html>
<html lang="en">

<head>
    {% include 'include/head.html' %}
</head>

<body onload="onLoadStartStop();">
    {% include 'include/header.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'include/sidebar.html' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    {% set cTitle = "temperature" if c == "temp" else (c + "map" if c == "heat" else c) %}
                    <h1 class="h2">{{ cTitle[0]|upper + cTitle[1:] }} chart</h1>
                </div>

                <div class="container col-md-12 ml-sm-auto col-lg-12 px-md-4">
                    <div class="row">
                        <div class="col-sm">
                            <div id="{{c}}Chart" class="bigChart"></div>
                            {% if c|string() == "cell" %}
                            <select id="cell">
                                {% set ncells = 108 %}
                                {% for i in range(ncells) %}
                                <option>{{ i + 1 }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn" onclick="getCell()">Filtra</button>
                            <div id="chart" style="display: none;">
                                <button id="reset" onclick="reset()" name="">x</button>
                                <div id="singlecellChart" class="bigChart"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
            <script>
                // all charts are needed due to the top bar values referesh
                // lineCharts parameters: path, chart's div, json's parameter, the header label's id, the unit of measure of the value
                createLineChart("/bms-hv/volt", "volt", "volts", "volt", "V");
                createChargeChart();
                createLineChart("/bms-hv/ampere", "ampere", "amperes", "amp", "A");
                createLineChart("/bms-hv/temp", "temp", "temp", "temp", "°");
                createCellChart();
                createHeatChart(6, 3, 1); // params: nrows, subcells (how many cells in a 'col'), the grouping parameter

                function getCell() {
                    document.getElementById("chart").style.display = "block";   // show the chart's div
                    let cell = document.getElementById("cell");
                    let c = cell.value;                                         // get the cell id
                    cell.remove(cell.selectedIndex);                            // remove it from the list
                    document.getElementById("reset").name = c;                  // set the name for the button, so, clicking it, it will close the right div
                    createLineChart("/bms-hv/cells?cell=" + c, "singlecell", "voltage", 15);
                }

                function reset() {
                    let button = document.getElementById("reset")
                    let cell = button.name;                                     // get the name of the button
                    button.name = "";                                            // and delete it
                    let select = document.getElementById("cell");

                    let option = document.createElement("option");              // create a new option
                    option.text = cell;                                         // and set the value as the button name

                    select.add(option, parseInt(cell)-1);                       // and add it to the select at the right position

                    document.getElementById("chart").style.display = "none";    // then hide the chart's div
                }
            </script>
        </div>
    </div>
    {% include 'include/foot.html' %}
</body>

</html>
