<!doctype html>
<html lang="en">

<head>
    {% include 'include/head.html' %}
</head>

<body onload="onLoadStartStop();">
    {% include 'include/header.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'include/sidebar.html' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="container col-md-12 ml-sm-auto col-lg-12 px-md-4">
                    <div class="row">
                        <div class="col-sm">
                            <div id="voltChart"></div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm">
                                    <!-- check if pre-charge is enabled -->
                                    <button type="button" onclick="startStop(false)" id="start" class="btn btn-success btn-lg">Start</button>
                                    <button type="button" onclick="startStop(true)" id="stop" class="btn btn-danger btn-lg">Stop</button>
                                    <button type="button" onclick="" id="cancel" class="btn btn-danger btn-lg">Cancel</button>
                                    <button type="button" onclick="" id="chargeBtn" class="btn btn-success btn-lg">Charge</button>
                                    <button type="button" onclick="" id="ok" class="btn btn-success btn-lg">OK</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div id="chargeChart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div id="ampereChart"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div id="cellChart"></div>
                        </div>
                        <div class="col-sm">
                            <div id="heatChart"></div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm">
                            <div id="tempChart"></div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm col-title">
                                    <h1 class="h2">BMS HV:</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <a href="warning" class="orange">
                                        <span data-feather="alert-triangle" class="ico"></span> 5 WARNING
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <a href="error" class="red">
                                        <span data-feather="alert-triangle" class="ico"></span> 2 ERROR
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm col-title">
                                    <h1 class="h2">Brusa:</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <a href="warning" class="orange">
                                        <span data-feather="alert-triangle" class="ico"></span> 5 WARNING
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <a href="error" class="red">
                                        <span data-feather="alert-triangle" class="ico"></span> 2 ERROR
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script>
        feather.replace()
    </script>
</body>

</html>
