<!doctype html>
<html lang="en">

<head>
    {% include 'include/head.html' %}
</head>

<body onload="onLoadStartStop();">
    {% include 'include/header.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'include/sidebar.html' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="container col-md-12 ml-sm-auto col-lg-12 px-md-4">
                    <div class="row">
                        <div class="col-sm">
                            <div id="voltChart"></div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm">
                                    <!-- check if pre-charge is enabled -->
                                    <button type="button" onclick="startStop(false)" id="start" class="btn btn-success btn-lg">Start</button>
                                    <button type="button" onclick="startStop(true)" id="stop" class="btn btn-danger btn-lg">Stop</button>
                                    <button type="button" onclick="" id="cancel" class="btn btn-danger btn-lg">Cancel</button>
                                    <button type="button" onclick="" id="chargeBtn" class="btn btn-success btn-lg">Charge</button>
                                    <button type="button" onclick="" id="ok" class="btn btn-success btn-lg">OK</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div id="chargeChart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div id="ampereChart"></div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <div id="tempChart"></div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div id="cellChart"></div>
                            </div>
                            <div class="row">
                                <div id="heatChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        // lineCharts parameters: path, chart's div, json's parameter, the header label's id, the unit of measure of the value
        createLineChart("/bms-hv/volt", "volt", "volts", "volt", "V");
        createChargeChart();
        createLineChart("/bms-hv/ampere", "ampere", "amperes", "amp", "A");
        createLineChart("/bms-hv/temp", "temp", "temp", "temp", "°");
        createCellChart();
        createHeatChart(6, 1, 3); // params: nrows, subcells (how many cells in a col), the grouping parameter
    </script>
    {% include 'include/foot.html' %}
</body>

</html>
