<!doctype html>
<html lang="en">

<head>
    {% include 'include/head.html' %}
</head>

<body onload="onLoadStartStop();onLoadEnableDisable()">
    {% include 'include/header.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'include/sidebar.html' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Settings</h1>
                </div>

                <div class="container col-md-12 ml-sm-auto col-lg-12 px-md-4">
                    <div class="row align-items-center">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm col-title">
                                    <h1 class="h2">CUT-OFF Voltage: <span id="COValue"></span>V - 150V</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <form method="POST" id="COForm"> <!-- Cut-Off Form -->
                                        <input type="hidden" name="comType" value="cutoff">
                                        <input type="range" oninput="changeValue('COSlider', 'COValue')"
                                            min="1" max="100" value="50" class="slider" id="COSlider" name="value"><br><br>
                                        <input type="submit" id="send" value="Send" class="btn btn-success btn-lg">
                                    </form>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-sm col-title">
                                    <h1 class="h2">Max Current from Outlet: <span id="MCOValue"></span>A - 5A</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <form method="POST" id="MCOForm"> <!-- Max Current Outlet Form -->
                                        <input type="hidden" name="comType" value="max-c-o">
                                        <input type="range" oninput="changeValue('MCOSlider', 'MCOValue')"
                                            min="1" max="10" value="5" class="slider" id="MCOSlider" name="value"><br><br>
                                        <input type="submit" id="send" value="Send" class="btn btn-success btn-lg">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm col-title">
                                    <h1 class="h2">Fast-Charge</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <form method="POST" id="FCEForm"> <!-- FastCharge Enabled Form -->
                                        <input type="hidden" name="comType" value="fast-charge">
                                        <input type="hidden" name="value" value="true">
                                        <input type="submit" onclick="enableDisable(true)" id="enable"
                                            class="btn btn-success btn-lg" value="Enable">
                                    </form>
                                    <form method="POST" id="FCDForm"> <!-- FastCharge Disabled Form -->
                                        <input type="hidden" name="comType" value="fast-charge">
                                        <input type="hidden" name="value" value="false">
                                        <input type="submit" onclick="enableDisable(false)" id="disable"
                                            class="btn btn-danger btn-lg" value="Disable">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        var COForm = document.getElementById("COForm");
                        var MCOForm = document.getElementById("MCOForm");
                        var FCEForm = document.getElementById("FCEForm");
                        var FCDForm = document.getElementById("FCDForm");

                        formListener(COForm);
                        formListener(MCOForm);
                        formListener(FCEForm);
                        formListener(FCDForm);

                        changeValue('COSlider', 'COValue');
                        changeValue('MCOSlider', 'MCOValue');
                    </script>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script>
        feather.replace()
    </script>
</body>

</html>
