<!doctype html>
<html lang="en">

<head>
    {% include 'include/head.html' %}
</head>

<body>
{% include 'include/header.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'include/sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Brusa Info</h1>
            </div>

            <div class="container col-md-12 ml-sm-auto col-lg-12 px-md-4">
                <div class="row">
                    <div class="col-sm">
                        <div id="table-responsive-info">
                        </div>
                    </div>
                </div>
            </div>
            <script>
                let container = document.getElementById("table-responsive-info");
                createInfoTable(container);

                // updating header inforamtions
                updateLineChartValue(null, null, "bms-hv/volt/last", "bus_voltage", NZ, "volt");
                updateLineChartValue(null, null, "bms-hv/ampere/last", "current", NZ, "amp");
                updateLineChartValue(null, null, "bms-hv/temp/last", "average_temp", NZ, "temp");
            </script>
        </main>
    </div>
</div>
{% include 'include/foot.html' %}
</body>

</html>
